body {
	padding:0px;
	margin:0px;
	font-size: 150%;
	color: white;
	background-color: black;
}

button {
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 3px;
	min-width:10px;
	color: white;
	background: black;
	
}

input, button, select {
	font-size: 1em;
}

table {
	border-collapse: collapse;
}

.faux_button {
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 3px;
	min-width:10px;
}

.faux_button:hover {
	cursor: pointer;
}

button:active, .faux_button_selected, .faux_button:active {
	background:#83A6D3;
}

.vertical_group button{
	float:left;
	clear:both;
}
.radio_selected {
	border: 1px solid darkblue;
	background: #336;
	border-radius: 5px;
	min-width:10px;
}

.radio_selected:active {
	background: #336;
}

.faux_button_divider {
	background:#002350;
	color:#FFFFFF;
	font-weight:bold;
}

.faux_button_disabled {
	border: 1px solid #bbb;
	color: #000;
	background: #fafafa;
	opacity: 0.6;
}

.horizontal_button_group .vertical_button_group{
	text-align:center;
}

.horizontal_button_group .faux_button {
	margin:2px;
	float:left;
}

.vertical_button_group .faux_button {
	width: 70%;
	margin:2px;
	margin-left: 14%;
	text-align:center;
}


.header {
	top:0px;
	position:fixed;
	min-height:2em;
	background-color: black;
	color: white;
	width: 100%;
}
.header .title {
	font-size: 1.5em;
	}

.content {
	position:absolute;
	top: 2em;
	bottom: 2em;
	overflow:auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.footer {
	bottom:0px;
	position:fixed;
	height:1.5em;
	background-color: black;
	color: white;
	width: 100%;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

.footer button {
	top: 0px;
}

.float_right { float:right; }

.clear_both { clear:both; }

.control_block { clear: both; padding-bottom:1.5em;}
.form_block { clear: both;  padding-bottom:.5em}

.icon_button_group .faux_button {
  background-color: #ccf;
}

.ch_range {
	height: 5em;
	overflow: auto;
}

.ch_range button{
 width: 40px;
 text-align: center;
}
